@{
    
}

<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title></title>
    </head>
    <body>
         @RenderPage("cabecera/cabecera.cshtml")
        Yo soy  otra
    </body>
</html>
