<header>
    <style>
            nav ul li {
            list-style-type: none;
            float: left;
            margin-left: 10px;
            }
            nav:after {
            
            }
        </style>
        <nav>
            <ul>
                <li><a href="otra">otra</a></li>
                <li><a href="yo">yo</a></li>
            </ul>
        </nav>
</header>
<div style="clear:both;"></div>
